*,
*:after,
*:before{
	box-sizing: border-box;
}
*{
	-webkit-tap-highlight-color: transparent;
}
html{
	scroll-behavior: smooth;
}
body{
	background-color: white;
	color: black;
	font-size: 16px;
	@include font-DM-Sans-Regular;
	height: 100%;
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0;
	position: relative;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	&.mobile-menu-open{
		overflow: hidden;
	}
}
a,
button{
	outline: none;
	text-decoration: none;
	&:hover,
	&:focus{
		outline: none;
		text-decoration: none;
	}
}
.page-wrapper{
	display: flex;
	flex-direction: column;
	max-height: 100vh;
	.site-footer{
		margin-top: auto;
	}
}
.container{
	max-width: 1296px;
	padding: 0 20px;
	width: 100%;
}

@keyframes headerStickyAnimations {
	0% {
		transform: translateY(-100px);
	}
	100% {
		transform: translateY(0);
	}
}

.inner-banner{
	position: relative;
	&:before{
		background-color: rgba(0, 0, 0, 0.65);
		content: "";
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1;
	}
	.inner-banner-container{
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 452px;
		justify-content: center;
		position: relative;
		row-gap: 20px;
		z-index: 1;
		h1{
			color: white;
			font-size: 65px;
			@include font-DM-Sans-Bold;
			line-height: calc(75 / 65);
			margin-bottom: 0;
			text-align: center;
			@include media-breakpoint-down(lg){
				font-size: 46px;
			}
			@include media-breakpoint-down(md){
				font-size: 32px;
			}
		}
		.list-unstyled{
			gap: 22px;
			li{
				color: white;
				font-size: 18px;
				@include font-DM-Sans-Medium;
				line-height: calc(28 / 18);
				a{
					color: white;
					transition: all 0.3s ease-in-out 0s;
					&:hover,
					&:focus{
						color: #2A9D8F;
					}
				}
			}
		}
	}
}