.hero-banner{
	&:before{
		background-color: rgba(black, 0.25);
		content: '';
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1;
	}
	.hero-banner-wrapper{
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 850px;
		justify-content: center;
		position: relative;
		z-index: 100;
		@include media-breakpoint-down(lg){
			height: 700px;
		}
		@include media-breakpoint-down(md){
			height: auto;
			padding: 100px 0 60px;
		}
		h1{
			color: white;
			font-size: 70px;
			@include font-DM-Sans-Bold;
			line-height: calc(80 / 70);
			margin-bottom: 40px;
			text-align: center;
			@include media-breakpoint-down(lg){
				font-size: 46px;
			}
			@include media-breakpoint-down(md){
				font-size: 32px;
				margin-bottom: 20px;
			}
		}
		p{
			color: white;
			font-size: 20px;
			@include font-DM-Sans-Medium;
			line-height: calc(30 / 20);
			margin-bottom: 25px;
			margin-left: auto;
			margin-right: auto;
			max-width: 75%;
			text-align: center;
			@include media-breakpoint-down(lg){
				font-size: 18px;
				max-width: 100%;
			}
			@include media-breakpoint-down(md){
				font-size: 16px;
			}
		}
		.hero-banner-button{
			align-items: center;
			background-color: #2A9D8F;
			border-radius: 4px;
			color: white;
			column-gap: 10px;
			display: flex;
			padding: 18px 30px;
			transition: all 0.3s ease-in-out 0s;
			&:hover,
			&:focus{
				background-color: #062E39;
			}
		}
	}
}
.brand-area{
	background-color: #E7F8F8;
	padding: 70px 0;
	position: relative;
	.brand-area-container{
		display: flex;
		flex-direction: column;
		row-gap: 40px;
		h2{
			color: #062E39;
			font-size: 40px;
			@include font-DM-Sans-Bold;
			line-height: calc(50 / 40);
			margin-bottom: 0;
			text-align: center;
		}
		.brand-area-brands{
			align-items: center;
			display: flex;
			gap: 30px;
			//justify-content: space-between;
			overflow-x: auto;
			scroll-behavior: smooth;
			-webkit-overflow-scrolling: touch;
			&::-webkit-scrollbar {
				display: none; /* hide scrollbar */
			}
			.brand-item{
				align-items: center;
				display: flex;
				flex: 0 0 auto;
				flex-direction: column;
				justify-content: center;
				width: 220px;
			}
		}
	}
}
.home-about{
	padding: 70px 0;
	.home-about-wrapper{
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		gap: 70px;
		justify-content: space-between;
		@include media-breakpoint-down(xxl){
			gap: 50px;
		}
		@include media-breakpoint-down(xl){
			gap: 30px;
		}
		.home-about-image{
			flex: 0 0 600px;
			max-width: 600px;
			@include media-breakpoint-down(xxl){
				flex: 0 0 500px;
				max-width: 500px;
			}
			@include media-breakpoint-down(xl){
				flex: 0 0 calc(50% - 15px);
				max-width: calc(50% - 15px);
			}
			@include media-breakpoint-down(lg){
				flex: 0 0 100%;
				max-width: 100%;
			}
			img{
				@include media-breakpoint-down(lg){
					width: 100%;
				}
			}
		}
		.home-about-content{
			display: flex;
			flex-direction: column;
			flex: 0 0 calc(100% - (600px + 70px));
			max-width: calc(100% - (600px + 70px));
			row-gap: 30px;
			@include media-breakpoint-down(xxl){
				flex: 0 0 calc(100% - (500px + 50px));
				max-width: calc(100% - (500px + 50px));
			}
			@include media-breakpoint-down(xl){
				flex: 0 0 calc(50% - 15px);
				max-width: calc(50% - 15px);
			}
			@include media-breakpoint-down(lg){
				flex: 0 0 100%;
				max-width: 100%;
			}
			h3{
				color: #062E39;
				font-size: 34px;
				@include font-DM-Sans-Bold;
				line-height: calc(46 / 36);
				margin-bottom: 0;
			}
			p{
				color: #899AA2;
				font-size: 14px;
				@include font-DM-Sans-Regular;
				line-height: calc(26 / 16);
				margin-bottom: 0;
			}
			.list-unstyled{
				margin-bottom: 0;
				row-gap: 20px;
				li{
					column-gap: 1rem;
					.home-about-content-icon{
						flex: 0 0 50px;
						max-width: 50px;
						img{
							transition: linear 0.4s;
						}
					}
					.home-about-content-text{
						display: flex;
						flex-direction: column;
						row-gap: 10px;
						h4{
							color: #062E39;
							font-size: 18px;
							@include font-DM-Sans-Bold;
							line-height: calc(28 / 18);
							margin-bottom: 0;
						}
					}
					&:hover,
					&:focus{
						.home-about-content-icon{
							img{
								transform: rotateY(360deg);
							}
						}
					}
				}
			}
		}
	}
}
.home-what-we-offer{
	padding: 70px 0;
	.home-what-we-offer-wrapper{
		display: flex;
		flex-direction: column;
		row-gap: 40px;
		.home-what-we-offer-header{
			row-gap: 20px;
			h5{
				color: #2A9D8F;
				font-size: 20px;
				@include font-DM-Sans-Bold;
				line-height: 1.5;
				margin-bottom: 0;
				text-align: center;
			}
			h2{
				color: #062E39;
				font-size: 42px;
				@include font-DM-Sans-Bold;
				line-height: calc(52 / 42);
				margin-bottom: 0;
				text-align: center;
			}
			p{
				color: #747474;
				font-size: 18px;
				@include font-DM-Sans-Regular;
				line-height: calc(28 / 18);
				margin-bottom: 0;
				margin-left: auto;
				margin-right: auto;
				max-width: 75%;
				text-align: center;
				@include media-breakpoint-down(lg){
					max-width: 100%;
				}
			}
		}
		.home-what-we-offer-cards{
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 24px;
			@include media-breakpoint-down(lg){
				grid-template-columns: repeat(2, 1fr);
			}
			@include media-breakpoint-down(md){
				grid-template-columns: 1fr;
			}
			.home-what-we-offer-cards-item{
				background-color: white;
				border-radius: 2px;
				box-shadow: 0 0 55px 0 rgba(0, 0, 0, 0.1);
				display: flex;
				flex-direction: column;
				padding: 40px 20px;
				row-gap: 30px;
				.home-what-we-offer-cards-item-header{
					align-items: center;
					border-bottom: 1px solid #DDD;
					column-gap: 20px;
					display: flex;
					justify-content: space-between;
					padding-bottom: 30px;
					.home-what-we-offer-cards-item-header-icon{
						border-radius: 10px;
						flex: 0 0 70px;
						max-width: 70px;
						overflow: hidden;
					}
					.home-what-we-offer-cards-item-header-button{
						align-items: center;
						background-color: #062E39;
						border-radius: 35px;
						color: white;
						display: inline-flex;
						font-size: 16px;
						@include font-DM-Sans-Medium;
						justify-content: center;
						padding: 9px 30px;
						transition: linear 0.4s;
						&:hover,
						&:focus{
							background-color: #2A9D8F;
						}
					}
				}
				.home-what-we-offer-cards-item-content{
					display: flex;
					flex-direction: column;
					row-gap: 20px;
					h4{
						color: #062E39;
						font-size: 24px;
						@include font-DM-Sans-Bold;
						line-height: calc(34 / 24);
						margin-bottom: 0;
					}
					p{
						color: #747474;
						font-size: 16px;
						@include font-DM-Sans-Regular;
						line-height: 1.5;
						margin-bottom: 0;
					}
				}
			}
		}
	}
}
.home-skills{
	background-color: #F6F9FA;
	padding: 70px 0;
	.home-skills-wrapper{
		display: flex;
		flex-direction: column;
		gap: 50px;
		.home-skills-header{
			display: flex;
			flex-direction: column;
			row-gap: 25px;
			h2{
				color: #062E39;
				font-size: 36px;
				@include font-DM-Sans-Bold;
				line-height: calc(46 / 36);
				margin-bottom: 0;
				text-align: center;
			}
			p{
				color: #747474;
				font-size: 16px;
				@include font-DM-Sans-Regular;
				line-height: calc(26 / 16);
				margin-bottom: 0;
				margin-left: auto;
				margin-right: auto;
				max-width: 850px;
				text-align: center;
			}
		}
		.home-skills-progress{
			align-items: center;
			display: flex;
			gap: 25px;
			justify-content: center;
			@include media-breakpoint-down(lg){
				flex-wrap: wrap;
			}
			.home-skills-progress-item{
				align-items: center;
				display: flex;
				flex: 0 0 400px;
				gap: 18px;
				max-width: 400px;
				@include media-breakpoint-down(md){
					flex: 0 0 auto;
					width: 100%;
				}
				@media (max-width: 424.98px){
					flex-wrap: wrap;
					justify-content: center;
				}
				.home-skills-progress-item-bar{
					align-items: center;
					//background: conic-gradient(#2A9D8F 0deg, #E1E1E1 0deg);
					border-radius: 50%;
					display: flex;
					flex: 0 0 118px;
					flex-direction: column;
					height: 118px;
					justify-content: center;
					max-width: 118px;
					position: relative;
					text-align: center;
					width: 118px;
					z-index: 1;
					//&:before{
					//	background-color: #F6F9FA;
					//	border-radius: 50%;
					//	content: "";
					//	height: 110px;
					//	left: 50%;
					//	position: absolute;
					//	top: 50%;
					//	transform: translate(-50%, -50%);
					//	width: 110px;
					//	z-index: -1;
					//}
					.progress-circle {
						transform: rotate(-90deg);
						position: absolute;
						top: 0;
						left: 0;
						circle {
							fill: none;
							stroke-width: 8;
						}
						.bg {
							stroke: #E1E1E1;
						}
						.progress {
							stroke: #2A9D8F;
							stroke-dasharray: 326.72; /* 2 * π * r where r = 45 */
							stroke-dashoffset: 326.72;
							transition: stroke-dashoffset 1s ease-out;
						}
					}
					.home-skills-progress-item-bar-text{
						display: flex;
						flex-direction: column;
						left: 50%;
						position: absolute;
						top: 50%;
						transform: translate(-50%, -50%);
						i{
							color: #2A9D8F;
							font-size: 30px;
						}
						span{
							color: #062E39;
							font-size: 30px;
							@include font-DM-Sans-Medium;
							line-height: calc(40 / 30);
						}
					}
				}
				.home-skills-progress-item-text{
					display: flex;
					flex-direction: column;
					row-gap: 5px;
					@media (max-width: 424.98px){
						flex: 0 0 100%;
						max-width: 100%;
					}
					h3{
						color: #062E39;
						font-size: 30px;
						@include font-DM-Sans-Medium;
						line-height: calc(40 / 30);
						margin-bottom: 0;
						@media (max-width: 424.98px){
							text-align: center;
						}
					}
					p{
						color: #909090;
						font-size: 20px;
						@include font-DM-Sans-Regular;
						line-height: calc(30 / 20);
						margin-bottom: 0;
						@media (max-width: 424.98px){
							text-align: center;
						}
					}
				}
			}
		}
	}
}
.home-results{
	.home-results-wrapper{
		align-items: center;
		display: flex;
		flex-direction: column;
		padding: 130px 0;
		row-gap: 30px;
		h2{
			color: white;
			font-size: 46px;
			@include font-DM-Sans-Bold;
			line-height: calc(56 / 46);
			margin-bottom: 0;
			text-align: center;
		}
		h4{
			color: white;
			font-size: 20px;
			@include font-DM-Sans-Medium;
			line-height: calc(30 / 20);
			margin-bottom: 0;
			margin-left: auto;
			margin-right: auto;
			max-width: 600px;
			text-align: center;
		}
		a{
			align-items: center;
			background-color: #2A9D8F;
			border-radius: 4px;
			color: white;
			column-gap: 10px;
			display: flex;
			padding: 18px 30px;
			transition: all 0.3s ease-in-out 0s;
			&:hover,
			&:focus{
				background-color: #062E39;
			}
		}
	}
}
.home-growth-program{
	padding: 70px 0;
	.home-growth-program-wrapper{
		display: flex;
		flex-direction: column;
		row-gap: 40px;
		.home-growth-program-header{
			display: flex;
			flex-direction: column;
			margin-left: auto;
			margin-right: auto;
			max-width: 900px;
			row-gap: 1rem;
			h2{
				color: #062E39;
				font-size: 52px;
				@include font-DM-Sans-Bold;
				line-height: calc(52 / 42);
				margin-bottom: 0;
				text-align: center;
			}
			p{
				color: #909090;
				font-size: 16px;
				@include font-DM-Sans-Regular;
				line-height: calc(26 / 16);
				margin-bottom: 0;
				text-align: center;
				&:not(:last-of-type){
					margin-bottom: 12px;
				}
			}
		}
	}
	.home-growth-program-items{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 24px;
		@include media-breakpoint-down(md){
			grid-template-columns: 1fr;
		}
		.home-growth-program-item{
			align-items: center;
			background-color: white;
			border-radius: 2px;
			box-shadow: 0 0 55px 0 rgba(0, 0, 0, 0.1);
			display: flex;
			flex-direction: column;
			padding: 40px 20px;
			row-gap: 30px;
			.home-growth-program-item-counter{
				color: #2A9D8F;
				font-size: 70px;
				@include font-DM-Sans-Bold;
				line-height: calc(56 / 46);
			}
			.home-growth-program-item-text{
				color: #062E39;
				font-size: 20px;
				@include font-DM-Sans-Medium;
				line-height: calc(34 / 24);
				text-align: center;
			}
		}
	}
}
.home-secrets{
	background-color: #F6F9FA;
	padding: 100px 0;
	.home-secrets-wrapper{
		display: grid;
		grid-column-gap: 150px;
		grid-row-gap: 40px;
		grid-template-columns: 400px 1fr;
		@include media-breakpoint-down(xxl){
			grid-column-gap: 100px;
		}
		@include media-breakpoint-down(xl){
			grid-column-gap: 70px;
		}
		@include media-breakpoint-down(lg){
			grid-template-columns: 1fr;
		}
		.home-secrets-left{
			align-items: center;
			display: flex;
			flex-direction: column;
			.home-secrets-form-container{
				background-color: white;
				border-radius: 5px;
				box-shadow: 0 0 55px 0 rgba(0, 0, 0, 0.1);
				margin-left: auto;
				margin-right: auto;
				max-width: 400px;
				padding: 40px 20px;
				width: 100%;
			}
			h3{
				color: #062E39;
				font-size: 26px;
				@include font-DM-Sans-Bold;
				line-height: calc(36 / 26);
				margin-bottom: 24px;
			}
			.home-secrets-form{
				display: flex;
				flex-direction: column;
				margin-bottom: 24px;
				row-gap: 1rem;
				.home-secrets-form-group{
					.form-control{
						border: 1px solid #B4B4B4;
						border-radius: 4px;
						box-shadow: none;
						color: #062E39;
						font-size: 16px;
						@include font-DM-Sans-Regular;
						height: 48px;
						line-height: calc(26 / 16);
						transition: linear 0.4s;
						&:hover,
						&:focus{
							border-color: #2A9D8F;
						}
						&::-webkit-input-placeholder{
							color: #747474;
							opacity: 1;
						}
						&::-moz-placeholder{
							color: #747474;
							opacity: 1;
						}
						&:-moz-placeholder{
							color: #747474;
							opacity: 1;
						}
						&::-ms-input-placeholder{
							color: #747474;
							opacity: 1;
						}
						&:-ms-input-placeholder{
							color: #747474;
							opacity: 1;
						}
					}
					textarea{
						&.form-control{
							height: auto;
						}
					}
					.home-secrets-form-button{
						background-color: #2A9D8F;
						border: none;
						border-radius: 5px;
						color: white;
						font-size: 16px;
						@include font-DM-Sans-SemiBold;
						height: 48px;
						line-height: calc(26 / 16);
						padding: 5px 20px;
						transition: linear 0.4s;
						width: 100%;
						&:hover,
						&:focus{
							background-color: #062E39;
							color: white;
						}
					}
				}
			}
			.divider{
				color: #062E39;
				font-size: 16px;
				@include font-DM-Sans-SemiBold;
				line-height: calc(30 / 20);
				margin-bottom: 20px;
				text-align: center;
			}
			.home-secrets-left-call{
				color: #2A9D8F;
				font-size: 18px;
				@include font-DM-Sans-Medium;
				line-height: calc(28 / 18);
				text-align: center;
				a{
					color: #2A9D8F;
				}
			}
		}
		.home-secrets-content{
			display: flex;
			flex-direction: column;
			justify-content: center;
			row-gap: 20px;
			@include media-breakpoint-down(lg){
				grid-row: 1;
			}
			h2{
				color: #062E39;
				font-size: 36px;
				@include font-DM-Sans-Bold;
				line-height: calc(46 / 36);
				margin-bottom: 0;
			}
			p{
				color: #747474;
				font-size: 18px;
				@include font-DM-Sans-Regular;
				line-height: calc(28 / 18);
				margin-bottom: 0;
			}
			.list-unstyled{
				column-gap: 1rem;
				flex-direction: column;
				margin-bottom: 0;
				row-gap: 8px;
				li{
					align-items: center;
					color: #747474;
					column-gap: 10px;
					display: flex;
					font-size: 18px;
					@include font-DM-Sans-Regular;
					line-height: calc(28 / 18);
					i{
						color: #2A9D8F;
					}
				}
			}
		}
	}
}