@mixin font-DM-Sans-Thin{
	font-family: "DM Sans", sans-serif;
	font-weight: 100;
}
@mixin font-DM-Sans-ExtraLight{
	font-family: "DM Sans", sans-serif;
	font-weight: 200;
}
@mixin font-DM-Sans-Light{
	font-family: "DM Sans", sans-serif;
	font-weight: 300;
}
@mixin font-DM-Sans-Regular{
	font-family: "DM Sans", sans-serif;
	font-weight: 400;
}
@mixin font-DM-Sans-Medium{
	font-family: "DM Sans", sans-serif;
	font-weight: 500;
}
@mixin font-DM-Sans-SemiBold{
	font-family: "DM Sans", sans-serif;
	font-weight: 600;
}
@mixin font-DM-Sans-Bold{
	font-family: "DM Sans", sans-serif;
	font-weight: 700;
}
@mixin font-DM-Sans-ExtraBold{
	font-family: "DM Sans", sans-serif;
	font-weight: 800;
}
@mixin font-DM-Sans-Black{
	font-family: "DM Sans", sans-serif;
	font-weight: 900;
}

@mixin font-Heebo-Thin{
	font-family: "Heebo", sans-serif;
	font-weight: 100;
}
@mixin font-Heebo-ExtraLight{
	font-family: "Heebo", sans-serif;
	font-weight: 200;
}
@mixin font-Heebo-Light{
	font-family: "Heebo", sans-serif;
	font-weight: 300;
}
@mixin font-Heebo-Regular{
	font-family: "Heebo", sans-serif;
	font-weight: 400;
}
@mixin font-Heebo-Medium{
	font-family: "Heebo", sans-serif;
	font-weight: 500;
}
@mixin font-Heebo-SemiBold{
	font-family: "Heebo", sans-serif;
	font-weight: 600;
}
@mixin font-Heebo-Bold{
	font-family: "Heebo", sans-serif;
	font-weight: 700;
}
@mixin font-Heebo-ExtraBold{
	font-family: "Heebo", sans-serif;
	font-weight: 800;
}
@mixin font-Heebo-Black{
	font-family: "Heebo", sans-serif;
	font-weight: 900;
}

@mixin font-Jost-Thin{
	font-family: "Jost", sans-serif;
	font-weight: 100;
}
@mixin font-Jost-ExtraLight{
	font-family: "Jost", sans-serif;
	font-weight: 200;
}
@mixin font-Jost-Light{
	font-family: "Jost", sans-serif;
	font-weight: 300;
}
@mixin font-Jost-Regular{
	font-family: "Jost", sans-serif;
	font-weight: 400;
}
@mixin font-Jost-Medium{
	font-family: "Jost", sans-serif;
	font-weight: 500;
}
@mixin font-Jost-SemiBold{
	font-family: "Jost", sans-serif;
	font-weight: 600;
}
@mixin font-Jost-Bold{
	font-family: "Jost", sans-serif;
	font-weight: 700;
}
@mixin font-Jost-ExtraBold{
	font-family: "Jost", sans-serif;
	font-weight: 800;
}
@mixin font-Jost-Black{
	font-family: "Jost", sans-serif;
	font-weight: 900;
}