.portfolio{
	padding: 100px 0;
	.portfolio-wrapper{
		display: grid;
		grid-gap: 30px;
		grid-template-columns: repeat(4, 1fr);
		@include media-breakpoint-down(xxl){
			grid-template-columns: repeat(3, 1fr);
		}
		@include media-breakpoint-down(lg){
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: 699.98px){
			grid-template-columns: 1fr;
		}
		.portfolio-item{
			//align-items: flex-start;
			background-color: white;
			border: 1px solid #eeeeee;
			border-radius: 4px;
			box-shadow: 0 7px 32px 0 rgba(0, 0, 0, 0.08);
			column-gap: 1rem;
			display: flex;
			flex-direction: column;
			padding: 1rem;
			row-gap: 20px;
			.portfolio-item-logo{
				align-items: center;
				display: flex;
				flex-direction: column;
				height: 150px;
				justify-content: center;
				overflow: hidden;
				img{
					object-fit: contain;
				}
			}
			.portfolio-item-content{
				display: flex;
				flex-direction: column;
				flex-grow: 1;
				row-gap: 10px;
				h3{
					color: #062E39;
					font-size: 20px;
					@include font-Jost-Bold;
					line-height: calc(30 / 20);
					margin-bottom: 0;
				}
				p{
					color: #747474;
					font-size: 16px;
					@include font-DM-Sans-Regular;
					line-height: calc(28 / 18);
					margin-bottom: 0;
					@include media-breakpoint-down(xl){
						font-size: 16px;
					}
				}
			}
		}
	}
}