.one-page-off-page-seo{
	background-color: #F6F9FA;
	padding: 100px 0;
	.one-page-off-page-seo-wrapper{
		display: grid;
		grid-gap: 50px;
		grid-template-columns: repeat(2, 1fr);
		@include media-breakpoint-down(lg){
			grid-template-columns: 1fr;
		}
		.one-page-seo,
		.off-page-seo{
			display: flex;
			flex-direction: column;
			row-gap: 20px;
			h3{
				color: #062E39;
				font-size: 40px;
				@include font-Jost-Bold;
				line-height: calc(50 / 40);
				margin-bottom: 0;
			}
			h4{
				color: #062E39;
				font-size: 24px;
				@include font-Jost-Bold;
				line-height: calc(34 / 24);
				margin-bottom: 0;
			}
			p{
				color: #747474;
				font-size: 18px;
				@include font-DM-Sans-Regular;
				line-height: calc(28 / 18);
				margin-bottom: 0;
				@include media-breakpoint-down(xl){
					font-size: 16px;
				}
			}
			.list-unstyled{
				margin-bottom: 0;
				li{
					color: #747474;
					font-size: 18px;
					@include font-DM-Sans-Regular;
					line-height: calc(28 / 18);
					@include media-breakpoint-down(xl){
						font-size: 16px;
					}
					i{
						color: #2A9D8F;
					}
				}
			}
			.one-page-off-page-seo-link{
				align-items: center;
				background-color: #2A9D8F;
				border-radius: 4px;
				color: white;
				column-gap: 10px;
				display: flex;
				font-size: 16px;
				@include font-DM-Sans-Medium;
				padding: 18px 30px;
				transition: all 0.3s ease-in-out 0s;
				&:hover,
				&:focus{
					background-color: #062E39;
					color: white;
				}
			}
		}
	}
}