.seo-three-cards{
	background-color: #F6F9FA;
	padding: 100px 0;
	.seo-three-cards-wrapper{
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
		justify-content: center;
		@include media-breakpoint-down(xl){
			gap: 20px;
		}
		@include media-breakpoint-down(lg){
			gap: 1rem;
		}
		.seo-three-cards-item{
			background-color: white;
			border: 1px solid #eeeeee;
			border-radius: 4px;
			box-shadow: 0 7px 32px 0 rgba(0, 0, 0, 0.08);
			display: flex;
			flex-direction: column;
			padding: 20px;
			row-gap: 1rem;
			flex: 0 0 calc(50% - 15px);
			max-width: calc(50% - 15px);
			@include media-breakpoint-down(md){
				flex: 0 0 100%;
				max-width: 100%;
			}
			&:first-of-type{
				flex: 0 0 65%;
				max-width: 65%;
				@include media-breakpoint-down(md){
					flex: 0 0 100%;
					max-width: 100%;
				}
			}
			h3{
				color: #062E39;
				font-size: 26px;
				@include font-Jost-Bold;
				line-height: calc(36 / 26);
				margin-bottom: 0;
				text-align: center;
				@include media-breakpoint-down(lg){
					font-size: 24px;
				}
			}
			p{
				color: #747474;
				font-size: 16px;
				@include font-DM-Sans-Regular;
				line-height: 1.5;
				margin-bottom: 0;
				text-align: center;
			}
		}
	}
}
.one-page-off-page-seo{
	background-color: #F6F9FA;
	padding: 100px 0;
	.one-page-off-page-seo-wrapper{
		display: grid;
		grid-gap: 50px;
		grid-template-columns: repeat(2, 1fr);
		@include media-breakpoint-down(lg){
			grid-template-columns: 1fr;
		}
		.one-page-seo,
		.off-page-seo{
			display: flex;
			flex-direction: column;
			row-gap: 20px;
			h3{
				color: #062E39;
				font-size: 40px;
				@include font-Jost-Bold;
				line-height: calc(50 / 40);
				margin-bottom: 0;
			}
			h4{
				color: #062E39;
				font-size: 24px;
				@include font-Jost-Bold;
				line-height: calc(34 / 24);
				margin-bottom: 0;
			}
			p{
				color: #747474;
				font-size: 18px;
				@include font-DM-Sans-Regular;
				line-height: calc(28 / 18);
				margin-bottom: 0;
			}
			.list-unstyled{
				margin-bottom: 0;
				li{
					color: #747474;
					font-size: 18px;
					@include font-DM-Sans-Regular;
					line-height: calc(28 / 18);
					i{
						color: #2A9D8F;
					}
				}
			}
			.one-page-off-page-seo-link{
				align-items: center;
				background-color: #2A9D8F;
				border-radius: 4px;
				color: white;
				column-gap: 10px;
				display: flex;
				@include font-DM-Sans-Medium;
				padding: 18px 30px;
				transition: all 0.3s ease-in-out 0s;
				&:hover,
				&:focus{
					background-color: #062E39;
					color: white;
				}
			}
		}
	}
}